@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Fenix&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fenix&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Fenix&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  z-index: 10;
  background-color: #14274a;
}

.header__row {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.header__logo {
  flex: 0 0 200px;
  margin-right: 150px;
  display: flex;
  align-items: center;
}
.header__logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__menu {
  flex-grow: 1;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.menu__list {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
}

.menu__link {
  color: #fff;
  margin: 0 7px;
  transition: all 0.3s ease;
  display: block;
}
.menu__link:hover {
  color: #e0b973;
  transform: scale(1.03);
}

.menu__link-active {
  color: #e0b973;
  font-weight: 600;
  display: block;
  margin: 0 7px;
}
.menu__link-active::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  margin-top: 2px;
  background-color: #e0b973;
}

.footer {
  height: 200px;
  width: 100%;
  padding: 25px 0px;
  background-color: #14274a;
  color: #fff;
  line-height: 1.4;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.footer__body {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.footer-container {
  height: 100%;
}

.footer__info {
  flex: 0 0 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px 0;
  margin-right: 50px;
  font-size: 12px;
}

.footer__icon {
  width: 200px;
}
.footer__icon img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__slogan {
  font-size: 12px;
  color: #e0b973;
}

.footer__contact a {
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
}

.footer__adress,
.footer__phone,
.footer__mail {
  color: #e0b973;
}

.footer__mobile-adaptive-wrapper {
  flex: 0 1 65%;
  display: flex;
  justify-content: space-between;
}

.footer__links {
  flex: 0 1 60%;
  display: flex;
  justify-content: space-around;
}

.footer__column {
  flex: 0 0 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}

.footer__socials-wrapper {
  display: flex;
}

.footer__socials-icon {
  width: 18px;
  height: 18px;
  margin: auto 0;
}
.footer__socials-icon img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__link {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  margin-left: 8px;
  transition: all 0.3s ease-in 0s;
}
.footer__link:hover {
  color: #e0b973;
}

.footer__subscribe {
  flex: 0 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px 0 25px 0;
}
.footer__subscribe p {
  color: #e0b973;
  font-weight: 500;
}

.footer__input-wrapper {
  display: flex;
  transition: all 0.2s ease-in 0s;
}
.footer__input-wrapper:hover {
  box-shadow: 0px 0px 3px rgb(247, 233, 214);
}

.footer__input {
  flex: 1 1 auto;
}
.footer__input input {
  width: 100%;
  height: 40px;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #e0b973;
  background-color: #14274a;
  font-size: 14px;
  text-indent: 5px;
  color: #fff;
  transition: all 0.3s ease-in 0s;
}
.footer__input input::-moz-placeholder {
  color: #fff;
}
.footer__input input::placeholder {
  color: #fff;
}
.footer__input input:focus {
  box-shadow: 0px 0px 6px rgb(247, 233, 214);
}
.footer__input input:focus::-moz-placeholder {
  color: #fff;
}
.footer__input input:focus::placeholder {
  color: #fff;
}

.footer__button button {
  height: 40px;
  width: 60px;
  border-radius: 0px 4px 4px 0px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #e0b973;
  transition: all 0.3s ease-in 0s;
}
.footer__button button:hover {
  background-color: #fff;
}
.footer__button button:active {
  background-color: #14274a;
}

@media screen and (max-width: 960px) {
  .footer {
    height: 265px;
    font-size: 14px;
  }
  .footer__mobile-adaptive-wrapper {
    flex-direction: column;
    max-width: 470px;
  }
  .footer__links {
    justify-content: flex-start;
  }
  .footer__column {
    flex: 0 0 50%;
  }
  .footer__subscribe {
    padding: 20px 0px 0px 0px;
  }
  .footer__subscribe p,
  .footer__subscribe form {
    flex: 0 0 50%;
    margin: 0px 0px 0px 8px;
  }
  .footer__contact a {
    line-height: 1.7;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    height: 290px;
  }
  .footer__icon {
    max-width: 150px;
    margin-bottom: 8px;
  }
  .footer__input-wrapper input,
  .footer__input-wrapper button {
    height: 32px;
  }
}
@media screen and (max-width: 700px) {
  .footer__contact a {
    line-height: 1.5;
  }
  .footer__logo {
    max-width: 160px;
  }
  .footer__column {
    margin-bottom: 7px;
  }
  .footer__subscribe {
    padding: 0px;
    max-height: 60px;
  }
  .footer__subscribe p {
    line-height: 1.2;
  }
}
@media screen and (max-width: 500px) {
  .footer {
    height: 370px;
    position: relative;
  }
  .footer__info {
    justify-content: flex-start;
  }
  .footer__adress {
    margin-top: 15px;
  }
  .footer__links {
    flex-direction: column;
  }
  .footer__links a {
    display: inline-block;
    height: 18px;
  }
  .footer__socials-wrapper {
    padding-left: 4px;
  }
  .footer__subscribe {
    position: absolute;
    bottom: 25px;
    left: 15px;
  }
  .footer__subscribe p {
    margin-bottom: 7px;
  }
  .footer__button button {
    width: 30px;
  }
}
@keyframes simple-appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearance-on-the-left {
  0% {
    opacity: 0;
    left: -20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes appearance-on-the-right {
  0% {
    opacity: 1;
    left: 0;
  }
  100% {
    opacity: 0;
    left: 20%;
  }
}
.blue-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  background-color: #14274a;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid #e0b973;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgb(247, 233, 214);
  transition: all 0.2s linear;
}
.blue-button:hover {
  box-shadow: 0px 0px 6px #e0b973;
  transform: scale(1.02);
}

.yellow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  background-color: #e0b973;
  color: #14274a;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid #14274a;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgb(247, 233, 214);
  transition: all 0.2s linear;
}
.yellow-button:hover {
  box-shadow: 0px 0px 6px #e0b973;
  transform: scale(1.02);
}
.yellow-button a {
  color: #14274a;
}

h1 {
  font-size: calc(25px + 2.3395721925vw);
  font-weight: 900;
  margin-bottom: 30px;
  text-shadow: 0px 0px 8px rgb(247, 233, 214);
  opacity: 0;
  animation: simple-appearance 0.5s linear 0.7s forwards;
}

h2 {
  font-size: calc(20px + 1.3368983957vw);
  font-weight: 600;
  opacity: 0;
  position: relative;
  animation: appearance-on-the-right 0.7s linear reverse forwards;
}

@media (min-width: 767px) {
  h1 {
    font-size: calc(25px + 59.5 * (100vw - 320px) / 1496);
  }
  h2 {
    font-size: calc(20px + 34 * (100vw - 320px) / 1496);
  }
}
.home-welcome__content h1 {
  font-size: calc(25px + 3.6764705882vw);
  font-weight: 900;
  margin-bottom: 30px;
  text-shadow: 0px 0px 8px rgb(247, 233, 214);
  opacity: 0;
  animation: simple-appearance 0.5s linear 0.7s forwards;
}
.home-welcome__content h2 {
  font-size: calc(20px + 1.3368983957vw);
  font-weight: 600;
  opacity: 0;
  position: relative;
  animation: appearance-on-the-right 0.7s linear reverse forwards;
}
.home-welcome__content p {
  font-size: calc(20px + 1.3368983957vw);
  position: relative;
  animation: appearance-on-the-left 0.7s linear forwards;
}

@media (min-width: 767px) {
  .home-welcome__content h1 {
    font-size: calc(25px + 93.5 * (100vw - 320px) / 1496);
  }
  .home-welcome__content h2,
  .home-welcome__content p {
    font-size: calc(20px + 34 * (100vw - 320px) / 1496);
  }
}
h3 {
  font-family: Garamond;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  h3 {
    font-size: 20px;
  }
}
.content-image {
  border-radius: 4px;
  box-shadow: 0px 0px 6px #e0b973;
  overflow: hidden;
}
.content-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fullscreen-image {
  height: 100%;
}
.fullscreen-image img {
  width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(80%);
}

body {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #14274a;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}

.main {
  flex: 1;
  padding-top: 100px;
  background-color: rgb(247, 233, 214);
}

.upper-block {
  height: 500px;
  display: flex;
  position: relative;
}

.upper-block__title-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper-block__title {
  color: #fff;
}
.upper-block__title h1 {
  text-shadow: 0px 0px 8px #14274a;
}

.services {
  padding: 50px 0px;
  background-color: #fff;
}

.services__title {
  margin-bottom: 30px;
}

.services__row {
  display: flex;
}

.services__column {
  flex: 0 0 25%;
  padding: 0px 25px;
}

.services__list {
  display: flex;
  flex-direction: column;
}
.services__list li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: 500;
  line-height: 2.3;
}

.services__list-icon {
  width: 30px;
  height: 30px;
  margin-right: 3px;
}
.services__list-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.facilities {
  padding: 70px 0;
  background-color: rgb(247, 233, 214);
}

.facilities__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.facilities__facilities-item {
  flex: 0 0 47%;
  display: flex;
  border: 1px solid #14274a;
  border-radius: 4px;
  background-color: #fff;
}

.facilities-item__inner {
  display: flex;
  flex-direction: column;
}

.facilities-item__image {
  height: 300px;
  border-radius: 0px 4px 4px 0px;
}

.facilities-item__info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.facilities-item__title {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14274a;
  color: #e0b973;
}
.facilities-item__title h3 {
  margin: 0;
}

.facilities-item__text {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
  font-weight: 500;
  padding: 25px 25px 15px 25px;
}
.facilities-item__text p:first-child {
  margin-bottom: 25px;
}
.facilities-item__text p:last-child {
  font-weight: 600;
}

.facilities-item__button {
  align-self: flex-end;
  margin: 0 25px 25px 0;
  width: 190px;
  border-radius: 20px 4px 20px 4px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .upper-block {
    height: 370px;
  }
  .services__column {
    padding: 0px 10px;
  }
}
@media screen and (max-width: 960px) {
  body {
    font-size: 14px;
  }
  .services__title {
    margin-bottom: 15px;
  }
  .services__title h3 {
    font-size: 20px;
  }
  .facilities__container {
    gap: 25px;
  }
  .facilities-item__title {
    padding: 0px 15px;
  }
  .facilities-item__title h3 {
    font-size: 20px;
    max-width: 315px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media screen and (max-width: 782px) {
  .services__list span {
    max-width: 118px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  .upper-block {
    height: 300px;
  }
  .services__row {
    flex-wrap: wrap;
  }
  .services__column {
    flex: 0 0 50%;
  }
  .services__list span {
    max-width: 135px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .facilities-item__image {
    height: 230px;
  }
}
@media screen and (max-width: 630px) {
  .facilities__facilities-item {
    flex: 0 0 100%;
  }
}
@media screen and (max-width: 477px) {
  .services__column {
    flex: 0 0 100%;
  }
}
@media screen and (max-width: 360px) {
  .facilities-item__image {
    height: 200px;
  }
  .facilities-item__title h3 {
    font-size: 18px;
  }
  .facilities-item__text p {
    font-size: 12px;
  }
}