.blue-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background-color: $main-darkblue;
    color: $text-white;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid $main-yellow;
    border-radius: 4px;
    box-shadow: 0px 0px 3px $light-yellow;

    transition: all 0.2s linear;
    &:hover {
        box-shadow: 0px 0px 6px $main-yellow;
        transform: scale(1.02);
    }
}

.yellow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background-color: $main-yellow;
    color: $main-darkblue;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid $main-darkblue;
    border-radius: 4px;
    box-shadow: 0px 0px 3px $light-yellow;

    transition: all 0.2s linear;
    &:hover {
        box-shadow: 0px 0px 6px $main-yellow;
        transform: scale(1.02);
    }

    a {
        color: $main-darkblue;
    }
}
