@import "../scss/variables";

.footer {
    height: 200px;
    width: 100%;
    background-color: $main-darkblue;
    color: $text-white;
    line-height: 1.4;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.footer__body {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px 0;
    font-size: 12px;
}

.footer__icon {
    width: 200px;
    img {
        width: 100%;
        object-fit: cover;
    }
}

.footer__slogan {
    font-size: 12px;
    color: $main-yellow;
}

.footer__contact {
    a {
        color: $text-white;
        font-size: 12px;
    }
}
.footer__adress,
.footer__phone,
.footer__mail {
    color: $main-yellow;
}

.footer__links {
    flex: 0 0 40%;
    display: flex;
    justify-content: space-around;
}

.footer__column {
    flex: 0 0 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.footer__socials-wrapper {
    display: flex;
}

.footer__socials-icon {
    width: 18px;
    height: 18px;
    margin: auto 0;

    img {
        max-width: 100%;
        object-fit: cover;
    }
}

.footer__link {
    display: inline-block;
    color: $text-white;
    font-weight: 500;
    margin-left: 8px;
    transition: all 0.3s ease-in 0s;

    &:hover {
        color: $main-yellow;
    }
}

.footer__subscribe {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 0 25px 0;

    p {
        color: $main-yellow;
        font-weight: 500;
    }
}
.footer__input-wrapper {
    display: flex;
    transition: all 0.2s ease-in 0s;

    &:hover {
        box-shadow: 0px 0px 3px $light-yellow;
    }
}

.footer__input {
    flex: 1 0 auto;

    input {
        width: 100%;
        height: 40px;
        border-radius: 4px 0px 0px 4px;
        border: 1px solid $main-yellow;
        background-color: $main-darkblue;
        font-size: 14px;
        text-indent: 5px;
        color: $text-white;
        transition: all 0.3s ease-in 0s;

        &::placeholder {
            color: $text-white;
        }

        &:focus {
            box-shadow: 0px 0px 6px $light-yellow;
            &::placeholder {
                color: $text-white;
            }
        }
    }
}
.footer__button {
    button {
        height: 40px;
        width: 60px;
        border-radius: 0px 4px 4px 0px;
        text-transform: uppercase;
        font-weight: 600;
        background-color: $main-yellow;
        transition: all 0.3s ease-in 0s;
        &:hover {
            background-color: $text-white;
        }
        &:active {
            background-color: $main-darkblue;
        }
    }
}
