
.home-gallery__slider-wrapper {
    position: relative;
    overflow: hidden;

    div {
        display: inline-block;
    }
    
    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
    }
}

.gallery-slider__control {
    list-style: none;

    li {
        position: absolute;
        top: 50%;
        z-index: 5;
        color: white;
        cursor: pointer;
        transition: 0.4s all;
        transform: scale(1.3);

        &:hover {
            color: $main-yellow;
        }
        
    }
}

.gallery-slider__prev-btn {
    left: 0;
}

.gallery-slider__next-btn {
    right: 0;
}

