@import "./nullstyle.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./variables.scss";
@import "./animation.scss";
@import "./buttons.scss";
@import "./titles.scss";
@import "./imagestyles.scss";
@import "./warningmodal.scss";

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Fenix&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fenix&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Fenix&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Montserrat:wght@400;700&display=swap");

body {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: $main-darkblue;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 25px;
    margin: 0 auto;
}

.main {
    flex: 1;
    padding-top: 100px;
    background-color: $light-yellow;
}

.upper-block {
    height: 500px;
    display: flex;
    position: relative;
}

.upper-block__title-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-block__title {
    color: $text-white;

    h1 {
        text-shadow: 0px 0px 8px $main-darkblue;
    }
}

.services {
    padding: 50px 0px;
    background-color: $text-white;
}

.services__title {
    margin-bottom: 30px;
}

.services__row {
    display: flex;
}

.services__column {
    flex: 0 0 25%;
    padding: 0px 25px;
}

.services__list {
    display: flex;
    flex-direction: column;

    li {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        font-weight: 500;
        line-height: 2.3;
    }
}

.services__list-icon {
    width: 30px;
    height: 30px;
    margin-right: 3px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.facilities {
    padding: 70px 0;
    background-color: $light-yellow;
    
}
.facilities__container {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.facilities__facilities-item {
    display: flex; 
    flex: 0 0 47%;
    border: 1px solid $main-darkblue;
    border-radius: 4px;
    background-color: $text-white;
}

.facilities-item__inner {
    display: flex;
    flex-direction: column;
}
.facilities-item__image {
    height: 300px;
    border-radius: 0px 4px 4px 0px;
}

.facilities-item__info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.facilities-item__title {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-darkblue;
    color: $main-yellow;

    h3 {
        margin: 0;
    }
}

.facilities-item__text {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    line-height: 1.5;
    font-weight: 500;
    padding: 25px 25px 15px 25px;

    p {
        &:first-child {
            margin-bottom: 25px;
        }

        &:last-child {
            font-weight: 600;
        }
    }
}

.facilities-item__button {
    align-self: flex-end;
    margin: 0 25px 25px 0;
    width: 190px;
    border-radius: 20px 4px 20px 4px;
}

//@media queries

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .upper-block {
        height: 370px;
    }

    .services__column {
        padding: 0px 10px;
    }
}

@media screen and (max-width: 960px) {
    body {
        font-size: 14px;
    }

    .services__title {
        margin-bottom: 15px;
        h3 {
            font-size: 20px;
        }
    }

    .facilities__container {
        gap: 25px;
    }

    .facilities-item__title {
        padding: 0px 15px;
        h3 {
            font-size: 20px;

            max-width: 315px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

@media screen and (max-width: 782px) {
    .services__list {
        span {
            max-width: 118px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

@media screen and (max-width: 768px) {
    .upper-block {
        height: 300px;
    }

    .services__row {
        flex-wrap: wrap;
    }

    .services__column {
        flex: 0 0 50%;
    }

    .services__list {
        span {
            max-width: 135px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .facilities-item__image {
        height: 230px;
    }
}

@media screen and (max-width: 630px) {
    .facilities__facilities-item {
        flex: 0 0 100%;
    }
}

@media screen and (max-width: 477px) {
    .services__column {
        flex: 0 0 100%;
    }
}

@media screen and (max-width: 360px) {
    .facilities-item__image {
        height: 200px;
    }

    .facilities-item__title {
        h3 {
            font-size: 18px;
        }
    }

    .facilities-item__text {
        p {
            font-size: 12px;
        }
    }
}
