@import "./nullstyle.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./variables.scss";
@import "./animation.scss";
@import "./buttons.scss";
@import "./titles.scss";
@import "./imagestyles.scss";

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Fenix&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fenix&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Fenix&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Montserrat:wght@400;700&display=swap");

body {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: $main-darkblue;

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 25px;
    margin: 0 auto;
}

.main {
    flex: 1;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.upper-block {
    height: 500px;
    display: flex;
    position: relative;
}

.upper-block__title-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rooms-details {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.rooms-details__rooms-item {
    flex: 0 1 47%;
    border: 1px solid $main-darkblue;
    border-radius: 4px;
}

.rooms-item__image {
    height: 300px;
    border-radius: 4px 4px 0px 0px;
}

.rooms-item__title {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-darkblue;
    margin-bottom: 25px;
    h3 {
        color: $main-yellow;
        margin: 0px;
    }
}

.rooms-item__list {
    padding: 0px 0px 25px 25px;
    line-height: 1.5;
    font-weight: 500;
    list-style-type: none;

    span {
        padding-right: 7px;
    }

    a {
        color: $main-darkblue;
        font-weight: 700;
        transition: all 0.2s ease;
        &:hover {
            text-shadow: 0px 0px 3px $main-yellow;
        }
    }
}

.rooms-item__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px 25px;
}

.rooms-item__item {
    width: 220px;
    height: 35px;
    background-color: $main-yellow;
    border: 1px solid $main-darkblue;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 17px;
        font-weight: 700;
    }
}

.rooms-item__button {
    width: 130px;

    a {
        color: $text-white;
    }
}
