@import "./nullstyle.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./variables.scss";
@import "./animation.scss";
@import "./buttons.scss";
@import "./titles.scss";
@import "./imagestyles.scss";
@import "./warningmodal.scss";

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Fenix&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fenix&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Fenix&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Montserrat:wght@400;700&display=swap");

body {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: $main-darkblue;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 25px;
    margin: 0 auto;
}

.main {
    flex: 1;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.upper-block {
    height: 500px;
    display: flex;
    position: relative;
}

.upper-block__title-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rooms-details {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.rooms-details__rooms-item {
    flex: 0 0 47%;
    border: 1px solid $main-darkblue;
    border-radius: 4px;
}

.rooms-item__image {
    height: 300px;
    border-radius: 4px 4px 0px 0px;
}

.rooms-item__title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-darkblue;
    margin-bottom: 25px;
    padding: 0px 10px;
    h3 {
        font-size: 20px;
        line-height: 2;
        text-align: center;
        color: $main-yellow;
        margin: 0px;

        max-width: 510px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.rooms-item__list {
    padding: 0px 0px 25px 25px;
    line-height: 1.5;
    font-weight: 500;
    list-style-type: none;

    span {
        padding-right: 7px;
    }

    a {
        color: $main-darkblue;
        font-weight: 700;
        transition: all 0.2s ease;
        &:hover {
            text-shadow: 0px 0px 3px $main-yellow;
        }
    }
}

.rooms-item__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px 25px;
}

.rooms-item__item {
    width: 220px;
    height: 35px;
    background-color: $main-yellow;
    border: 1px solid $main-darkblue;
    border-radius: 16px 4px 16px 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 17px;
        font-weight: 700;
    }
}

.rooms-item__button {
    width: 130px;
    border-radius: 16px 4px 16px 4px;

    a {
        color: $text-white;
    }
}

// @media queries

@media screen and (min-width: 960px) and (max-width: 1200px) {
    .rooms-item__title {
        h3 {
            font-size: 18px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .upper-block {
        height: 370px;
    }
}

@media screen and (max-width: 960px) {
    .rooms-details {
        gap: 10px;
    }

    .rooms-item {
        max-width: 350px;
    }

    .rooms-item__title {
        h3 {
            font-size: 16px;
            max-width: 310px;
        }
    }

    .rooms-item__item {
        p {
            font-size: 14px;
        }
        width: 160px;
        height: 35px;
    }

    .rooms-item__button {
        width: 115px;
    }
}

@media screen and (max-width: 767px) {
    .upper-block {
        height: 300px;
    }

    .upper-block__title {
        text-align: center;
    }

    .rooms-details {
        flex-direction: column;
    }

    .rooms-details__rooms-item {
        font-size: 14px;
        margin-bottom: 25px;
        flex: 1;
    }
}

@media screen and (max-width: 450px) {
    .upper-block__title {
        max-width: 300px;
    }

    .rooms-item__title {
        h3 {
            max-width: 250px;
        }
    }
}

@media screen and (max-width: 390px) {
    .rooms-item__button {
        max-width: 105px;
    }

    .rooms-item__item {
        max-width: 106px;
        padding: 0px 3px;
        p {
            max-width: 106px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

@media screen and (max-width: 330px) and (max-height: 580px) {
    .rooms-item__image {
        height: 200px;
    }
}
