.burger-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;

  @media screen and (max-width: 768px) {
    display: flex;
  }

  @media screen and (max-width: 550px) {
    width: 60vw;
  }

  @media screen and (max-width: 400px) {
    width: 70vw;
    font-size: 14px;
  }
}

.burger-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  list-style: none;
  background-color: var(--main-darkblue);
  font-size: 18px;
  font-weight: 500;
  border-left: 1px solid var(--main-yellow);
  padding: 110px 0 60px 20px;
}

.burger-link {
  color: var(--text-white);
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
  margin: 0 7px;
  transition: all 0.3s ease;
  display: block;
  height: 40px;

  &:hover {
    color: var(--main-yellow);
    transform: scale(1.03);
  }
}

.burger-link-active {
  color: var(--main-yellow);
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
  display: block;
  margin: 0 7px;
  height: 40px;
}
