.facilities__list {
    padding: 70px 0;
    background-color: var(--light-yellow);
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    
}
.facilities__container {
    display: flex;
}



@media screen and (max-width: 960px) {
    .facilities__list {
        gap: 25px;
    }

}

