
.services {
    padding: 50px 0px;
    background-color: var(--text-white);
}

.services__title {
    margin-bottom: 30px;
}

.services__row {
    display: flex;
}

.services__column {
    flex: 0 0 25%;
    padding: 0px 25px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.services__list-item {
    flex: 1 1 calc(25% - 20px); /* 25% для 4 колонок */
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 500;
    line-height: 2.3;
}

.services__list-icon {
    width: 30px;
    height: 30px;
    margin-right: 3px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



@media screen and (min-width: 768px) and (max-width: 1024px) {
    .services__column {
        padding: 0px 10px;
    }
}

@media screen and (max-width: 960px) {
    .services__title {
        margin-bottom: 15px;
        h3 {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 782px) {
    // .services__list {
    //     span {
    //         max-width: 118px;
    //         white-space: nowrap;
    //         text-overflow: ellipsis;
    //         overflow: hidden;
    //     }
    // }

    .services__list-item {
        flex: 1 1 calc(50% - 20px); /* 2 колонки */
    }
}


@media screen and (max-width: 768px) {
    .services__row {
        flex-wrap: wrap;
    }

    .services__column {
        flex: 0 0 50%;
    }

    .services__list {
        span {
            max-width: 135px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

@media screen and (max-width: 477px) {
    .services__column {
        flex: 0 0 100%;
    }
}

@media screen and (max-width: 380px) {
    .services__list-item {
        flex: 1 1 calc(100% - 20px); /* 1 колонка */
    }
    
}