
.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 25px;
    margin: 0 auto;
}

.main {
    flex: 1;
    padding-top: 100px;
    background-color: var(--light-yellow);
}

.facilities__container {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}
