@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Fenix&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fenix&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Fenix&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Montserrat:wght@400;700&display=swap");

body {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--main-darkblue);

    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 25px;
    margin: 0 auto;
    position: relative;
}

.main {
    padding-top: 100px;
    flex: 1;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
}
